<html>

<head>
    <title>Slutside</title>
    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <header>
        <% include header %>
    </header>
        
    <description>
        <h2 class="title" id="h1_1">Du er nu færdig med din FVU Screening</h2>
    </description>
    
    <main>

        <form method="post" action="/send_mail">
            <h3 class="h3size">Skriv mailadresse på din lærer her:</h3>
            <input id="mailReciever" type="text" name="mail" placeholder="Email">
            <input type="submit" class="h3size"> 
        </form>
    </main>
</body>

</html>
