<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>File Uploader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href=/stylesheets/filestyle/styles.css rel="stylesheet">
</head>

<body>
     <div id="header">
        <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
        <h3 class="header" id="head_2">Du er nu færdig med testen</h3>
         
    </div>
        <form id="form" action="/send_mail" method="post">
    <p>Dette er en midlertidig slutside. </p>
    <p>Her kan du sende testresultaterne til din underviser. Indtast mailen på din underviser her:
        <input type="text" name="mail">
        <input type="submit">
            
            </p>
    </form>
<!--    Dette er udgandstpunktet til fileuploader-->
<!--
    <p>Filuploaderen virker ikke endnu</p>
    <p> kig i chrome dev tools console efter upload</p>
    <div class="container">
        <div class="progress">
            <div class="progress-bar" role="progressbar"></div>
            <input id="upload-input" type="file" name="uploads[]">
        </div>
    </div>
-->



    <br/>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/upload.js"></script>
</body>

</html>
