<!-- views/header.ejs -->

<img class="header" id="head_1" src="images/VUC_logo.png" height="100">
                
<div id="test1" class="header">
    <h1 class="header" id="head_2">HF & VUC FYN</h1>
</div>

<div id="test2" class="header">
<!--    <h1 class="header" id="head_3">HF & VUC FYN</h1>-->
</div>