<html>

<head>
    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>

<body>

    <div id="header">
        <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
        <h3 class="header" id="head_2">NIVEAUAFKLARINGSTEST</h3>
        <h3 class="header" id="head_3">VUC FYN ODENSE</h3>
    </div>


    <form id="teacher_data" method="post" action="/index_addinfo" onsubmit="console.log('derpderp')">

        <div id="section">
            <h1 class="title" id="h1_1">NIVEAUAFKLARINGSTEST</h1>
            <h1 class="title" id="h1_2">VUC FYN ODENSE</h1>
        </div>


        <div id="subsection">
            <h2 class="inline">
                <ol>

                    <li>INDTAST DINE INITIALER</li>
                    <li>TILPAS OPSÆTNING AF MODULER I DIN TEST</li>
                    <li>TRYK VIDERE FOR AT OPRETTE EN TEST</li>

                </ol>
            </h2>
            <br/>
            <input class="h2size" class="inline" type="text" id="initials" name="initials" placeholder="Indtast initialer" required>
        </div>

        <div id="bottom">
            <table>
                <tr>
                    <td>Orddiktat: </td>
                    <td><input class="test_options" type="checkbox" name="worddictate_teacher"></td>
                </tr>
                <tr>
                    <td>Vrøvlediktat: </td>
                    <td><input class="test_options" type="checkbox" name="nonsense_teacher"></td>
                </tr>
                <tr>
                    <td>Clozetest: </td>
                    <td><input class="test_options" type="checkbox" name="clozetest_teacher"></td>
                </tr>
                <tr>
                    <td>Tekstforståelse: </td>
                    <td><input class="test_options" type="checkbox" name="interpret_teacher"></td>
                </tr>
                <tr>
                    <td>Brev: </td>
                    <td><input class="test_options" type="checkbox" name="letter_teacher"></td>
                </tr>

            </table>

            <input class="submit" type="submit" value="Gem/Videre">
        </div>

    </form>


</body>

</html>
