<html>

<head>

    <meta charset="utf-8">

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/info_teacher.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <style>
        #removeButton {
            margin-top: 20px;
        }
    </style>

    <script>
        $(function() {
            $('#form').bind('submit', function(event) {
                event.preventDefault();

                var user = sessionStorage.getItem('currentUser');
                user = JSON.parse(user);
                user.teacherModules.shift();
                sessionStorage.setItem('currentUser', JSON.stringify(user));
                $('#data').val(JSON.stringify(user));

                $(this).unbind('submit').submit();
            });

        });
    </script>

</head>

<body>

    <div id="header">
        <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
        <h3 class="header" id="head_2">NIVEAUAFKLARINGSTEST</h3>
        <h3 class="header" id="head_3">VUC FYN ODENSE</h3>
    </div>

    <h1 class="title" id="h1_1">KURSISTINFO</h1>
    Her kan du vælge hvilken information kursisten skal indtaste <br> For eksempel: fornavn, efternavn, osv.


    <form id="form" method="post" action="/kursistinfo" enctype="multipart/form-data">
        <div id="section">
        </div>

        <button type="button" id="addButton1">Indsæt indtastningsfelt</button>
        <button type="button" id="addButton2">Indsæt afkrydsningsfelt</button>
        <button type="button" id="addButton3">Indsæt radioknapper</button>
        <button type="button" id="addButton4">Indsæt dropdown menu</button>
        <br>
        <button type="button" id="removeButton">Fjern indtastningsfelt</button>

        <div id="bottom">
            <input type="hidden" id="data" name="data">
            <input class="submit" type="submit" value="Gem/Videre">
        </div>
    </form>

</body>

</html>