<html>

<head>

    <meta charset="utf-8">

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/letter_participant.js"></script>
    <script src="/js/time_handler.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">


</head>

<body onload="initializeTest((<%=JSON.stringify(testlist)%>));">

    <div id="header">
        <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
        <h3 class="header" id="head_2">NIVEAUAFKLARINGSTEST</h3>
        <h3 class="header" id="head_3">VUC FYN ODENSE</h3>
    </div>

    <div id="section">
        <h1 class="title" id="h1_1">BREV</h1>
    </div>


    <form id="form" method="post" action="/letter_addanswer">

        <div id="subsection">
            <h2>Du skal skrive et brev. Her er ikke mulighed for at bruge stavekontrol eller formatere din tekst, du skal bare skrive.</h2>
            <div id="showTime">
                <h2>Du har 15 min.</h2>
                <div id="timer" class="h2size"></div>
            </div>
            <button class="h2size" type="button" id="start">Start</button>
        </div>

        <div id="subsubsection"></div>

        <div id="bottom"></div>

    </form>

</body>

</html>
