<html>

<head>
    <title>Brev</title>
    <meta charset="utf-8">

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/letter_participant.js"></script>
    <script src="/js/time_handler.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">


</head>

<body onload="initializeTest((<%=JSON.stringify(data)%>));">

        <div id="header">
                <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
                <div id="test1" class="header">
                    <h1 class="header" id="head_2">Læsning</h1>
                </div>
                <div id="test2" class="header">
                    <h1 class="header" id="head_3">HF & VUC FYN</h1>
                </div>
            </div>

    <div class="section">
        <h1 class="title" id="h1_1">Brev</h1>
    


        <form id="form" method="post" action="/letter_addanswer">

            <div id="subsection">
                <h3>
                    Hans jepsen har været ude for en trafikulykke.<br>
                    Tirsdag d. 17. februar 2001 ved halvsyv-tiden var han på cykel fra sin bopæl i Blomstervænget.<br>
                    På vej til sit arbejde som værkfører i Sitroflex blev han kørt ned af en bilist i et vejkryds.<br>
                    På tegningerne kan du se, hvordan ulykken skete.<br>
                    <br>
                    Hans Jepsen har fået en buket blomster af sin gode kollega, Arne Olsen.<br>
                    Du skal skrive en e-mail til Arne Olsen, som om du var Hans Jepsen.<br>
                    Du skal blandt andet fortælle om, hvordan ulykken skete, og hvordan du har det.<br>
                    Kig på tegningerne, og læs oplægget til opgaven, før du skriver din e-mail.<br>
                    Du har 15 minutter til at løse denne opgave.
                </h3>

                <img src="images/tegning_til_brev.png" height="1000">

                <div id="showTime">
                    <h3>Du har 15 minutter til denne opgave</h3>
                    <div id="timer" class="h3size"></div>
                </div>
                <button class="h3size" type="button" id="start">Start</button>
            </div>

            <div id="subsubsection"></div>

            <div id="bottom">
                <input type="hidden" id="answers" name="answers">
            </div>

        </form>

</div>

</body>

</html>
