<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
    
        <script src="../jquery/jquery-3.2.1.min.js"></script>
        
        <script src="../js/main.js"></script>
<!--        <script src="../routes/index.js"></script>-->
        
    
    
    </head>
    <body>
        
    
    <form id="form" method="post" action="/addname">
        <div id="head">
        
            <h1>Orddiktat</h1>
            
            <input type="text" id="initials" name="initials", placeholder="Skriv dine initialer">
            
            <br><br>
            
            <input type="text" id="testTitle" name="testTitle" placeholder="Angiv en titel">
           
            <br><br><br>
            
        </div>
        
        
        
        
        <!-- her er alt brødteksten --> 
        <div id="body">
        
            <button type="button" id="addLine">Indsæt ny linje</button>
            
            <br><br>
        
        </div>
        
        
        
        
        
        
        <div id="bottom"></div>
        
        
        <br><br>
        
        <input type="submit">
        
    </form>
        
    </body>
</html>