<html>
<head>
    <script src="/jquery/jquery-3.2.1.min.js"></script>
</head>
<body>
    
    <div id="head">
        <h3 id="h3_1">NIVEAUAFKLARINGSTEST</h3>
        <h3 id="h3_2">VUC FYN ODENSE</h3>
    </div>
    
    
    <form id="form" method="post" action="/main_addinfo">
    
        <div id="section">
            <h1 id="date_h1">NIVEAUAFKLARINGSTEST</h1>
            <h1 id="name_h1">VUC FYN ODENSE</h1>
        </div>


        <div id="subsection">
            <h2>Indtast dine initialer og tryk videre, for at oprette en test</h2>
            <input type="text" id="initials" name="initials" placeholder="Indtast initialer">
        </div>
        
        <div id="bottom">
            <input type="submit" value="Gem/Videre">
        </div>
        
    </form>
    
    
</body>
</html>