<html>
    <head>
        <script src="/jquery/jquery-3.2.1.min.js"></script>
        <script src="/js/getData.js"></script>
        <script src="/js/nextpage.js"></script>
    </head>
    <body onload="insertLink()">
    <div>
        <p>Link til test: <div id="testLink"></div></p>
    </div>
        
    </body>
</html>
