<html>
    <head>
        
        <meta charset="utf-8">
        
        <script src="/jquery/jquery-3.2.1.min.js"></script>
        <script src="/js/nonsense_teacher.js"></script>
    
    </head>
    <body>
        
    
    <form id="form" method="post" action="/nonsense_addinfo">
        
        <div id="head">
            <h1>Vrøvleord</h1>
            <input type="text" id="initials" name="initials", placeholder="Skriv dine initialer">
        </div>
        
        
        <!-- her er alt brødteksten --> 
        <div id="body">
            <button type="button" id="addLine">Indsæt ny lydfil</button>
        </div>
        
        
        <div id="bottom">
        
        </div>
        
        
        <input type="submit">
        
    </form>
        
    </body>
</html>