
<form id="form" method="post" action="/worddictate_addanswer">

    <button onclick="" class="h2size" type="button" id="start">Start</button> 

    <%= data[0].line1 %> 
</form>


<!--

    <div id="section">
        <h1 class="title" id="h1_1">Orddiktat</h1>
    </div>
-->


<!--        <div id="subsection">-->
<!--
            <h3>Du skal nu skrive en lille tekst som en diktat.<br>
                Teksten bliver læst højt i mindre tekststykker, som læses to gange efter hinanden.<br>
                Alle tegn i teksten dikteres.<br>
                Diktaten tager ca. 10 minutter.
            </h3>
-->
    


<!--        </div>-->
    
<!--            <div id="subsubsection"></div>-->
    
<!--
            <div id="bottom">
                <input type="hidden" id="answers" name="answers">
            </div>
-->