<html>
<head>
    
    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/startpage.css">
    
</head>
<body>
    
    <div id="head">
        <h3 id="h3_1">NIVEAUAFKLARINGSTEST</h3>
        <h3 id="h3_2">VUC FYN ODENSE</h3>
    </div>
    
    
    <form id="form" method="post" action="/startpage_addinfo">
    
        <div id="section">
            <div id="date">
                <h1 id="date_h1">DATO:</h1>
                <input type="date" id="date_input", name="date_input">
            </div>
                
            <div id="name">
                <h1 id="name_h1">NAVN:</h1>
                <input type="text" class="name_input" name="firstname" placeholder="Fornavn(e)">
                <input type="text" class="name_input" name="lastname" placeholder="Efternavn">
            </div>
        </div>


        <div id="subsection">
            <div id="dys">
                <h2>ER DU ORDBLIND:</h2>
                <select id="dys_select" name="dys_select" form="form">
                    <option value="ja">JA</option>
                    <option value="nej">NEJ</option>
                </select>
            </div>
            
            <div id="fam">
                <h2>ER DER ORDBLINDHED I DIN FAMILIE:</h2>
                <select id="fam_select" name="fam_select" form="form">
                    <option value="ja">JA</option>
                    <option value="nej">NEJ</option>
                </select>
            </div>
            
            <div id="tong">
                <h2>HVAD ER DIT MODERSMÅL:</h2>
                <input type="text" id="tong_input" name="tong_input" placeholder="Indtast">
            </div>
                
            <div id="home">
                <h2>HVILKET SPROG TALER DU DERHJEMME:</h2>
                <input type="text" id="home_input" name="home_input" placeholder="Indtast">
            </div>
        </div>
        
        <div id="bottom">
            <input type="submit" value="Gem/Videre">
        </div>
        
    </form>
    
    
</body>
</html>