<html>

<head>
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/js/handle_login.js"></script>
	<script src="/js/test.js"></script>
	<script>

		//Skal laves til sessionStorage i stedet 
		var cookieValue = document.cookie;
		console.log(cookieValue);
		var firstSplit = cookieValue.split('=')[1]; 
		var obj = {
			username: firstSplit
		}
		console.log(obj); 
		sessionStorage.setItem('currentUser', JSON.stringify(obj)); 
		$(function(){
		handleLogin();
		});
		function inDevelopment(){
			alert('mangler stadig at blive udviklet, rolig Michael');
		}
		
		
	</script>

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
		
	
	<div id="header">
		<img class="header" id="head_1" src="images/VUC_logo.png" height="100">
		<h3 class="header" id="head_2">Test og quizmodul 
		</h3>
		<h3 class="header" id="head_3">HF & VUC FYN ODENSE</h3>
	</div>
	
	<h4>Velkommen til HF & VUC FYNs quizmodul. Her kan du oprette en række forskellige quizzer. Du kan vælge om du vil lave enkelte quizzer, eller kombinere en række forskellige quizmoduler til en samlet quiz. Du kan vælge mellem disse moduler:
		
		
</h4>
    <ul>
    <li>Orddiktat</li>
    <li>Vrøvleditat</li>
    <li>Clozetest</li>
    <li>Tekstforståelse</li>
    <li>Brev</li>
    </ul>
    
    <ol>
    <li><button onclick="newTest()">Lav ny test</button></li>
    <li>
		<form id="form" method="post" action="/oversigt_info">
		<input id="searc_init" type="submit" value=" Oversigt over dine test ">
		</form>
    </li>
	<li id="MMR" style="display: none;"> <button type="button" onclick="inDevelopment()"> Opret ny bruger</button></li>
    </ol>
	


</body>

</html>