<html>
<head>
    
    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    
</head>
<body>
    
    <div id="header">
        <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
        <h3 class="header" id="head_2">NIVEAUAFKLARINGSTEST</h3>
        <h3 class="header" id="head_3">VUC FYN ODENSE</h3>
    </div>
    
    
    <form id="form" method="post" action="/startpage_addinfo">
    
        <div id="section">
            <div class="fullwidth">
                <h1 class="title" id="h1_1">DATO:</h1>
                <input class="h1size" type="date" name="date_input">
            </div>
                
            <div class="fullwidth">
                <h1 class="title" id="h1_2">NAVN:</h1>
                <input class="h1size" type="text" name="firstname" placeholder="Fornavn(e)">
                <input class="h1size" type="text" name="lastname" placeholder="Efternavn">
            </div>
        </div>


        <div id="subsection">
            <div class="fullwidth">
                <h2 class="inline">ER DU ORDBLIND:</h2>
                <select class="h2size" class="inline" id="dys_select" name="dys_select" form="form">
                    <option value="ja">JA</option>
                    <option value="nej">NEJ</option>
                </select>
            </div>
            
            <div class="fullwidth">
                <h2 class="inline">ER DER ORDBLINDHED I DIN FAMILIE:</h2>
                <select class="h2size" class="inline" id="fam_select" name="fam_select" form="form">
                    <option value="ja">JA</option>
                    <option value="nej">NEJ</option>
                </select>
            </div>
            
            <div class="fullwidth">
                <h2 class="inline">HVAD ER DIT MODERSMÅL:</h2>
                <input class="h2size" class="inline" type="text" id="tong_input" name="tong_input" placeholder="Indtast">
            </div>
                
            <div class="fullwidth">
                <h2 class="inline">HVILKET SPROG TALER DU DERHJEMME:</h2>
                <input class="h2size" class="inline" type="text" id="home_input" name="home_input" placeholder="Indtast">
            </div>
        </div>
        
        <div id="bottom">
            <input type="submit" value="Gem/Videre">
        </div>
        
    </form>
    
    
</body>
</html>