<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>

        <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
            
        <div id="test1" class="header">
            <h1 class="header" id="head_2">FVU Screening</h1>
        </div>
        
        <div id="test2" class="header">
            <h1 class="header" id="head_3">HF & VUC FYN</h1>
        </div>

        <h1 class="title" id="h1_1">Tak for deltagelse</h1>

    </body>
</html>