<html>

<head>
	<script src="/jquery/jquery-3.2.1.min.js"></script>

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/oversigt.css">

</head>

<body>

	<div id="header">
		<img class="header" id="head_1" src="images/VUC_logo.png" height="100">
		<h3 class="header" id="head_2">NIVEAUAFKLARINGSTEST</h3>
		<h3 class="header" id="head_3">VUC FYN ODENSE</h3>
	</div>

	<h2>Dette er datasiden for test med id'et: <%=content._id%> </h2>
	
		
	<h3>Denne side er stadig under udvikling</h3>

	


</body>

</html>