<html>

<head>
    <title>Velkommen</title>
    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>

<body>

        <div id="header">
                <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
                <div id="test1" class="header">
                    <h1 class="header" id="head_2">Læsning</h1>
                </div>
                <div id="test2" class="header">
                    <h1 class="header" id="head_3">HF & VUC FYN</h1>
                </div>
            </div>


    <form id="form" method="post" action="/student_addinfo">

            <div class="fullwidth">
                <h1 class="title" id="h1_2">Indtast telefonnummer:</h1>
                <input class="h1size" type="text" name="id" placeholder="Nr.">
            </div>
       


        <div id="bottom">
            <input class="h3size" type="submit" value="NÆSTE">
        </div>

    </form>


</body>

</html>
