<html>

<head>

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>

<body>

    <div id="header">
        <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
        <h3 class="header" id="head_2">NIVEAUAFKLARINGSTEST</h3>
        <h3 class="header" id="head_3">VUC FYN ODENSE</h3>
    </div>


    <form id="form" method="post" action="/welcome_addinfo">

            <div class="fullwidth">
                <h1 class="title" id="h1_2">udleveret id:</h1>
                <input class="h1size" type="text" name="id" placeholder="id">
            </div>
        </div>


        <div id="bottom">
            <input type="submit" value="Gem/Videre">
        </div>

    </form>


</body>

</html>
