<html>
    <head>
        
        <meta charset="utf-8">
        
        <script src="/jquery/jquery-3.2.1.min.js"></script>
        <script src="/js/worddictate_teacher.js"></script>
    
    </head>
    <body>
        
    
    <form id="form" method="post" action="/worddictate_addinfo">
        <div id="head">
            <h1>Orddiktat</h1>
        </div>
        
        
        
        
        <!-- her er alt brødteksten --> 
        <div id="body">
        
            <button type="button" id="addLine">Indsæt ny linje</button>
            
            <br><br>
        
        </div>
        
        
        
        
        
        
        <div id="bottom"></div>
        
        
        <br><br>
        
        <input type="submit">
        
    </form>
        
    </body>
</html>