<html>

<head>

    <meta charset="utf-8">
    <title>Orddiktat</title>

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/worddictate_participant.js"></script>
    <!-- <script src="/js/audioControl.js"></script> -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">


</head>

<body onload="initializeTest((<%=JSON.stringify(data)%>));">

    <div id="header">
        <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
        <div id="test1" class="header">
            <h1 class="header" id="head_2">Matematik trinindplaceringstest</h1>
        </div>
        <div id="test2" class="header">
            <h1 class="header" id="head_3">HF & VUC FYN</h1>
        </div>
    </div>
    
    <form id="form" method="post" action="/worddictate_addanswer">
        
        <div id="subsubsection">
            
            <div id="første_del">
                <h1 class="title" id="h1_1">Færdighedstest - uden brug af lommeregner</h1>
                
                <h3>Du skal i de følgende opgaver klikke på det svar du mener er det rigtige.
                <br>Der er 2 opgaver hvor du skal skrive dit svar.
                </h3>

                <div class="opgave">Opgave 1</div>
                <div>Hvilket tal er størst</div>
                <div style="font-size:0.9em">Klik på det rigtige svar</div>
                <div class="svar">
                    <div><input type="radio" name="answer0" value="1">0,43</div>
                    <div><input type="radio" name="answer0" value="2">0,54</div>
                    <div><input type="radio" name="answer0" value="3">0,469</div>
                </div>

                <div class="opgave">Opgave 2</div>
                <div>Hvilket tal ligger mellem 0,4 og 0,5?</div>
                <div class="svar">
                    <div><input type="radio" name="answer1" value="1">4,5</div>
                    <div><input type="radio" name="answer1" value="2">0,426</div>
                    <div><input type="radio" name="answer1" value="3">0,35</div>
                </div>

                <div class="opgave">Opgave 3</div>
                <div>Hvor meget er 8 * 0,5?</div>
                <div class="svar">
                    <div><input type="radio" name="answer2" value="1">4</div>
                    <div><input type="radio" name="answer2" value="2">8</div>
                    <div><input type="radio" name="answer2" value="3">0,35</div>
                </div>


                <div class="opgave">Opgave 4</div>
                <div>Hvilket tal er mindst?</div>
                <div class="svar">
                    <div><input type="radio" name="answer3" value="1">453,46</div>
                    <div><input type="radio" name="answer3" value="2">289,998</div>
                    <div><input type="radio" name="answer3" value="3">500,3</div>
                </div>

                <div class="opgave">Opgave 5</div>
                <div>Hvilken brøk er størst?</div>
                <div class="svar">
                    <div><input type="radio" name="answer4" value="1">1/8</div>
                    <div><input type="radio" name="answer4" value="2">1/4</div>
                    <div><input type="radio" name="answer4" value="3">1/16</div>
                </div>

                <div class="opgave">Opgave 6</div>
                <div>Hvad betyder 4,5?</div>
                <div class="svar">
                    <div><input type="radio" name="answer5" value="1">4 + 1/5</div>
                    <div><input type="radio" name="answer5" value="2">4 + 5/10</div>
                    <div><input type="radio" name="answer5" value="3">4 * 1/5</div>
                </div>

                <div class="opgave">Opgave 7</div>
                <div>Hvilket tal er mindst?</div>
                <div class="svar">
                    <div><input type="radio" name="answer6" value="1">0,756</div>
                    <div><input type="radio" name="answer6" value="2">0,81</div>
                    <div><input type="radio" name="answer6" value="3">0,9</div>
                </div>

                <div class="opgave">Opgave 8</div>
                <div>Skriv et tal der ligger imellem 0,5 og 0,6</div>
                <div class="svar">
                    <input type="text" name="answer7">
                </div>

                <div class="opgave">Opgave 9</div>
                <div>Hvor meget er 66*0,5</div>
                <div class="svar">
                    <input type="text" name="answer8">
                </div>

                <div class="opgave">Opgave 10</div>
                <div>Hvilket tal er mindst?</div>
                <div class="svar">
                    <div><input type="radio" name="answer9" value="1">827,459</div>
                    <div><input type="radio" name="answer9" value="2">1267,4</div>
                </div>

                <div class="opgave">Opgave 11</div>
                <div>Hvilken brøkdel er den største?</div>
                <div class="svar">
                    <div><input type="radio" name="answer10" value="1">3/5</div>
                    <div><input type="radio" name="answer10" value="2">3/6</div>
                    <div><input type="radio" name="answer10" value="3">3/7</div>
                </div>

                <div class="opgave">Opgave 12</div>
                <div>Hvad betyder 6,3?</div>
                <div class="svar">
                    <div><input type="radio" name="answer11" value="1">6 + 1/3</div>
                    <div><input type="radio" name="answer11" value="2">6 + 3/6</div>
                    <div><input type="radio" name="answer11" value="3">6 + 3/10</div>
                </div>

                <div class="opgave">Opgave 13</div>
                <div>Hvad bliver 25 + 8?</div>
                <div class="svar">
                    <div><input type="radio" name="answer12" value="1">17</div>
                    <div><input type="radio" name="answer12" value="2">28</div>
                    <div><input type="radio" name="answer12" value="3">33</div>
                    <div><input type="radio" name="answer12" value="4">38</div>
                </div>

                <div class="opgave">Opgave 14</div>
                <div>Hvad bliver 54 - 7?</div>
                <div class="svar">
                    <div><input type="radio" name="answer13" value="1">43</div>
                    <div><input type="radio" name="answer13" value="2">47</div>
                    <div><input type="radio" name="answer13" value="3">51</div>
                    <div><input type="radio" name="answer13" value="4">61</div>
                </div>

                <div class="opgave">Opgave 15</div>
                <div>Hvad bliver 12*3?</div>
                <div class="svar">
                    <div><input type="radio" name="answer14" value="1">30</div>
                    <div><input type="radio" name="answer14" value="2">34</div>
                    <div><input type="radio" name="answer14" value="3">36</div>
                    <div><input type="radio" name="answer14" value="4">38</div>
                </div>

                <div class="opgave">Opgave 16</div>
                <div>Hvad bliver 27/3</div>
                <div class="svar">
                    <div><input type="radio" name="answer15" value="1">6</div>
                    <div><input type="radio" name="answer15" value="2">9</div>
                    <div><input type="radio" name="answer15" value="3">12</div>
                    <div><input type="radio" name="answer15" value="4">15</div>
                </div>

                <div class="opgave">Opgave 17</div>
                <div>Hvad bliver 56/8?</div>
                <div class="svar">
                    <div><input type="radio" name="answer16" value="1">5</div>
                    <div><input type="radio" name="answer16" value="2">6</div>
                    <div><input type="radio" name="answer16" value="3">7</div>
                    <div><input type="radio" name="answer16" value="4">8</div>
                </div>

                <div class="opgave">Opgave 18</div>
                <div>Hvad er 10% af 250</div>
                <div class="svar">
                    <div><input type="radio" name="answer17" value="1">10</div>
                    <div><input type="radio" name="answer17" value="2">25</div>
                    <div><input type="radio" name="answer17" value="3">50</div>
                    <div><input type="radio" name="answer17" value="4">100</div>
                </div>

                <div class="opgave">Opgave 19</div>
                <div>Hvilket tal er nærmest 1/3?</div>
                <div class="svar">
                    <div><input type="radio" name="answer18" value="1">0,13</div>
                    <div><input type="radio" name="answer18" value="2">0,3</div>
                    <div><input type="radio" name="answer18" value="3">0,31</div>
                    <div><input type="radio" name="answer18" value="4">0,33</div>
                </div>

                <div class="opgave">Opgave 20</div>
                <div>Hvilken retning ligger Danmark i forhold til Tyskland</div>
                <div class="svar">
                    <div><input type="radio" name="answer19" value="1">Nord</div>
                    <div><input type="radio" name="answer19" value="2">Øst</div>
                    <div><input type="radio" name="answer19" value="3">Syd</div>
                    <div><input type="radio" name="answer19" value="4">Vest</div>
                </div>

                <div class="opgave">Opgave 21</div>
                <div>Hvis den 2. januar er en søndag, Hvilken dag er så d. 12. januar?</div>
                <div class="svar">
                    <div><input type="radio" name="answer20" value="1">Mandag</div>
                    <div><input type="radio" name="answer20" value="2">Tirsdag</div>
                    <div><input type="radio" name="answer20" value="3">Onsdag</div>
                    <div><input type="radio" name="answer20" value="4">Torsdag</div>
                </div>

                <div class="opgave">Opgave 22</div>
                <div>Hvor højt er et almindeligt hus med to etager?</div>
                <div class="svar">
                    <div><input type="radio" name="answer21" value="1">0 - 4 meter</div>
                    <div><input type="radio" name="answer21" value="2">4 - 8 meter</div>
                    <div><input type="radio" name="answer21" value="3">8 - 12 meter</div>
                    <div><input type="radio" name="answer21" value="4">12 - 16 meter</div>
                </div>

                <div class="opgave">Opgave 23</div>
                <div>Hvor meget vejer fire appelsiner?</div>
                <div class="svar">
                    <div><input type="radio" name="answer22" value="1">ca. 80 g</div>
                    <div><input type="radio" name="answer22" value="2">ca. 700 g</div>
                    <div><input type="radio" name="answer22" value="3">ca. 160 g</div>
                    <div><input type="radio" name="answer22" value="4">ca. 2000 g</div>
                </div>

                <div class="opgave">Opgave 24</div>
                <div>Hvor lang tid er 600 minutter</div>
                <div class="svar">
                    <div><input type="radio" name="answer23" value="1">6 timer</div>
                    <div><input type="radio" name="answer23" value="2">8 timer</div>
                    <div><input type="radio" name="answer23" value="3">10 timer</div>
                    <div><input type="radio" name="answer23" value="4">12 timer</div>
                </div>

                <div class="opgave">Opgave 25</div>
                <div>Der er 6 flødeboller i en pakke. Hvor mange flødeboller er der i tre pakker?</div>
                <div class="svar">
                    <div><input type="radio" name="answer24" value="1">6+3</div>
                    <div><input type="radio" name="answer24" value="2">6*6*6</div>
                    <div><input type="radio" name="answer24" value="3">3*3</div>
                    <div><input type="radio" name="answer24" value="4">3*6</div>
                </div>

                <div class="opgave">Opgave 26</div>
                <div>Hvilket tal skal der stå?</div>
                <div class="svar" style="float: left;">
                    <div><input type="radio" name="answer25" value="1">30</div>
                    <div><input type="radio" name="answer25" value="2">35</div>
                    <div><input type="radio" name="answer25" value="3">40</div>
                    <div><input type="radio" name="answer25" value="4">45</div>
                </div>
                <img src="../images/opgave26.png" style="padding-left:20px">

                <div class="opgave">Opgave 27</div>
                <div>Ca. hvor lang er en tommelfinger på en voksen person?</div>
                <div class="svar" style="float: left;">
                    <div><input type="radio" name="answer26" value="1">5 cm</div>
                    <div><input type="radio" name="answer26" value="2">10 cm</div>
                    <div><input type="radio" name="answer26" value="3">15 cm</div>
                    <div><input type="radio" name="answer26" value="4">20 cm</div>
                </div>
                <img src="../images/opgave27.png" style="padding-left:20px;">
                
            </div>
            <!-- _______________________________________________________________________ -->

            <div id="anden_del">

                <h1 class="title" id="h1_1">Funktionel færdighedstest</h1>
            
                <h3>Du skal i de følgende opgaver klikke på det svar du mener er det rigtige.
                <br>Der er nogle opgaver hvor du skal skrive dit svar.
                <br>Lommeregner og andre hjælpemidler er tilladt
                </h3>
                
                <div style="float: left;">
                <div class="opgave">Opgave 1</div>
                <div>Hvad er prisen for fire flasker Fuoco?</div>
                <div class="svar">
                    <div><input type="radio" name="answer27" value="1">35 kr.</div>
                    <div><input type="radio" name="answer27" value="2">70 kr.</div>
                    <div><input type="radio" name="answer27" value="3">140 kr.</div>
                </div>
                
                <div class="opgave">Opgave 2</div>
                <div>Hvor meget sparer man ved køb af fire flasker Fuoco</div>
                <div class="svar">
                    <div><input type="radio" name="answer28" value="1">Ca. 50 kr.</div>
                    <div><input type="radio" name="answer28" value="2">Ca. 100 kr.</div>
                    <div><input type="radio" name="answer28" value="3">Ca. 150 kr.</div>
                </div>
                
                <div class="opgave">Opgave 3</div>
                <div>Hvad er prisen for en æske med 6 flasker Schiørtz øl?</div>
                <div class="svar">
                    <div><input type="radio" name="answer29" value="1">36 kr.</div>
                    <div><input type="radio" name="answer29" value="2">66 kr.</div>
                    <div><input type="radio" name="answer29" value="3">96 kr.</div>
                </div>
                
                <div class="opgave">Opgave 4</div>
                <div>Hvor mange liter øl er der i en æske med 6 flasker Schiørtz øl?</div>
                <div class="svar">
                    <div><input type="radio" name="answer30" value="1">3 liter</div>
                    <div><input type="radio" name="answer30" value="2">6 liter</div>
                    <div><input type="radio" name="answer30" value="3">9 liter</div>
                </div>
                
                <div class="opgave">Opgave 5</div>
                <div>Hvor meget koster 2,5 kg nakkefilet?</div>
                <div class="svar">
                    <div><input type="radio" name="answer31" value="1">45 kr.</div>
                    <div><input type="radio" name="answer31" value="2">105 kr.</div>
                    <div><input type="radio" name="answer31" value="3">75 kr.</div>
                </div>
                
                <div class="opgave">Opgave 6</div>
                <div>Hvad er prisen for 32 æbler? </div>
                <div class="svar">
                    <div><input type="radio" name="answer32" value="1">36 kr.</div>
                    <div><input type="radio" name="answer32" value="2">64 kr.</div>
                    <div><input type="radio" name="answer32" value="3">96 kr.</div>
                </div>
                
                <div class="opgave">Opgave 7</div>
                <div>Hvor stor er rabatten for en flaske Fuoco? </div>
                <div class="svar">
                    <div><input type="radio" name="answer33" value="1">Ca. 50 %</div>
                    <div><input type="radio" name="answer33" value="2">Ca. 100 %</div>
                    <div><input type="radio" name="answer33" value="3">Ca. 200 %</div>    
                </div>
                </div>
                
                <img src="../images/andendel.png" style="padding-left:20px; float:right">
            </div>
            <!-- _______________________________________________________________________ -->
        
            <div id="tredje_del">
                
                <h1 class="title" id="h1_1">Funktionel færdighedstest</h1>
        
                <h3>Du skal i de følgende opgaver klikke på det svar du mener er det rigtige.
                <br>Der er nogle opgaver hvor du skal skrive dit svar.
                <br>Lommeregner og andre hjælpemidler er tilladt
                </h3>

                <div style="float:left;">
                <div class="opgave">Opgave 8</div>
                <div>Hvad er den højeste dagtemperatur?</div>
                <div class="svar">
                    Ca. <input type="text" name="answer34"> grader
                </div>
                
                <div class="opgave">Opgave 9</div>
                <div>Hvad er den laveste nattetemperatur?</div>
                <div class="svar">
                    Ca. <input type="text" name="answer35"> grader
                </div>
                
                <div class="opgave">Opgave 10</div>
                <div>Hvad er dagtemperaturen i gennemsnit for de seks dage?</div>
                <div class="svar">
                    Ca. <input type="text" name="answer36"> grader
                </div>
                
                <div class="opgave">Opgave 11</div>
                <div>Fra hvilken retning blæser vinden lørdag?</div>
                <div class="svar">
                    <input type="text" name="answer37">
                </div>
                
                <div class="opgave">Opgave 12</div>
                <div>Hvor mange timer dækker vejrudsigten over?</div>
                <div class="svar">
                    <input type="text" name="answer38"> timer
                </div>
                
                <div class="opgave">Opgave 13</div>
                <div>Hvad er vindens gennemsnitshastighed?</div>
                <div class="svar">
                    <input type="text" name="answer39"> m/s
                </div>
                </div>
                
                <img src="../images/tredjedel.png" style="padding-left:20px; float:right">
            </div>
            <!-- _______________________________________________________________________ -->

            <div id="fjerde_del">

                <h1 class="title" id="h1_1">Funktionel færdighedstest</h1>
        
                <h3>Du skal i de følgende opgaver klikke på det svar du mener er det rigtige.
                <br>Der er nogle opgaver hvor du skal skrive dit svar.
                <br>Lommeregner og andre hjælpemidler er tilladt
                </h3>

                <div style="float:left;">
                <div class="opgave">Opgave 14</div>
                <div>Hvor høj er døren ind til rummet billedet er taget i?</div>
                <div class="svar">
                    Ca. <input type="text" name="answer40"> m
                </div>
                
                <div class="opgave">Opgave 15</div>
                <div>Hvor bred er døren?</div>
                <div class="svar">
                    Ca.<input type="text" name="answer41"> cm
                </div>
                
                <div class="opgave">Opgave 16</div>
                <div>Hvor højt er rummet?</div>
                <div class="svar">
                    Ca.<input type="text" name="answer42"> m
                </div>
                
                <div class="opgave">Opgave 17</div>
                <div>Hvor bredt er rummet?</div>
                <div class="svar">
                    Ca.<input type="text" name="answer43"> m
                </div>
                
                <div class="opgave">Opgave 18</div>
                <div>Hvor mange skuffer er der i skuffebordene med hjul?</div>
                <div class="svar">
                    <input type="text" name="answer44"> stk
                </div>
                
                <div class="opgave">Opgave 19</div>
                <div>Hvor mange m2 er væggen, hvor døren sidder?</div>
                <div class="svar">
                    Ca. <input type="text" name="answer45"> m
                </div>
                </div>

                <img src="../images/fjerdedel.png" style="padding-left:20px; float:right">
            </div>
            <!-- _______________________________________________________________________ -->

            <div id="femte_del">

                <h1 class="title" id="h1_1">Funktionel færdighedstest</h1>
        
                <h3>Du skal i de følgende opgaver klikke på det svar du mener er det rigtige.
                <br>Der er nogle opgaver hvor du skal skrive dit svar.
                <br>Lommeregner og andre hjælpemidler er tilladt.
                <br>
                <br> Du skal låne penge.
                <br>Billedet til højre er et låne tilbagebetalingsskema.
                <br>Beløb er det antal kroner du vil låne.
                <br>Så kan du under de forskellige kolonner; 1 år, 2 år, osv.
                <br>se hvor meget du skal betale tilbage pr. måned.
                </h3>

                <div style="float:left;">
                <div class="opgave">Opgave 20</div>
                <div>Hvad er den månedlige ydelse, hvis du låner 20.000 kr. og betaler tilbage over tre år?</div>
                <div class="svar">
                    <input type="text" name="answer46"> kr.
                </div>
                
                <div class="opgave">Opgave 21</div>
                <div>Hvor meget har du så betalt i løbet af de tre år?</div>
                <div class="svar">
                    <input type="text" name="answer47"> kr.
                </div>
                
                <div class="opgave">Opgave 22</div>
                <div>Hvor meget har du så betalt i renter på det lån?</div>
                <div class="svar">
                    <input type="text" name="answer48"> kr.    
                </div>
                
                <div class="opgave">Opgave 23</div>
                <div>Hvor mange procent har du betalt i renter på lånet?</div>
                <div class="svar">  
                    <input type="text" name="answer49"> kr.
                </div>
                </div>

                <img src="../images/femtedel.png" style="padding-left:20px; float:right">
            </div>

        </div>

        <div id="bottom">
            <!-- <input type="hidden" id="answers" name="answers"> -->
            <!-- <input class="h3size" type="submit" value="Næste"> -->
            <input type="hidden" id="hidden" name="time__50">
            <input type="button" id="back" class="h3size" value="Tilbage">
            <input type="button" id="next" class="h3size" value="Næste">
        </div>

    </form>

</body>


</html>