<html>

<head>

    <meta charset="utf-8">
    <title>Orddiktat</title>

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/worddictate_participant.js"></script>
    <script src="/js/audioControl.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">


</head>

<body onload="initializeTest((<%=JSON.stringify(data)%>));">

        <div id="header">
                <img class="header" id="head_1" src="images/VUC_logo.png" height="100">
                <div id="test1" class="header">
                    <h1 class="header" id="head_2">FVU Screening</h1>
                </div>
                <div id="test2" class="header">
                    <h1 class="header" id="head_3">HF & VUC FYN</h1>
                </div>
            </div>

    <div id="section">
        <h1 class="title" id="h1_1">Orddiktat</h1>
    </div>


    <form id="form" method="post" action="/worddictate_addanswer">

        <div id="subsection">
            <h3>Du skal nu skrive en lille tekst som en diktat.<br>
                Teksten bliver læst højt i mindre tekststykker, som læses to gange efter hinanden.<br>
                Alle tegn i teksten dikteres.<br>
                Diktaten tager ca. 10 minutter.
            </h3>
            <!-- <button class="h2size" type="button" id="start">Start</button> -->
        </div>


        <div id="subsubsection">
            <p>Jeg <input id="answer0" class="cyklede"> på <input id="answer1" class="job"></p> 
            <p><input id="answer2" class="klokken"> syv </p> 
            <p>og var <input id="answer3" class="sent"> på den. </p>
            <p>Det havde <input id="answer4" class="sneet"> om <input id="answer5" class="natten">, </p>
            <p>og der var <input id="answer6" class="isglat">. </p>
            <p>Alle <input id="answer7" class="kørte"> langsomt,  </p>
            <p>selv <input id="answer8" class="taxaerne">. </p> 
            <p>Jeg havde grønt <input id="answer9" class="lys">,  </p>
            <p>da jeg <input id="answer10" class="kørte"> over <input id="answer11" class="krydset">  </p>
            <p>ved <input id="answer12" class="Møllegade">. </p>
            <p><input id="answer13" class="Pludselig"> så jeg  </p>
            <p>en <input id="answer14" class="orange"> <input id="answer15" class="stationcar"> komme mod mig.</p>
            <p>Jeg <input id="answer16" class="bremsede"> </p>
            <p>for at undgå <input id="answer17" class="kollision">,  </p>
            <p>men cyklen <input id="answer18" class="gled">,  </p>
            <p>og jeg ramte <input id="answer19" class="asfalten">. </p>
            <p>Jeg var helt <input id="answer20" class="væk"> og blev kørt  </p>
            <p>til et <input id="answer21" class="hospital">. </p>
            <p>Jeg var <input id="answer22" class="sygemeldt">  </p>
            <p>en <input id="answer23" class="måned">,  </p>
            <p>og det er stadig et <input id="answer24" class="problem"> at gå. </p>
            <p>Hvorfor kan <input id="answer25" class="bilister"> ikke køre ordentligt?</p>

        </div>

        <div id="bottom">
            <input type="hidden" id="answers" name="answers">
            <input class="h3size" type="submit" value="Næste">
        </div>

    </form>

</body>


</html>