/*        styling af page_header*/
        #h3_1, #h3_2 {
            display: inline-block; 
            margin-top: 50px; 
        }
        
        #h3_1 {
            margin-left: 50px; 
        }
        
        #h3_2 {
            float: right; 
            margin-right: 50px; 
        }
        
        
        
/*        styling og positionering af body og subsection*/
        #section, #subsection {
            position: relative; 
            left: 50px; 
        }
        
        #section {
            top: 150px; 
        }
        
        #name_h1 {
            margin-top: 80px;  
        }
        
        #subsection { 
            top: 300px; 
        }
        
        
        
/*        styling af main section input*/
        #date_h1, #date_input {
            display: inline-block; 
        }
        
        #name_h1, .name_input {
            display: inline-block; 
        }
        
        #date_input, .name_input { 
            font-size: 25px; 
            height: 1.5em;
            font-weight: bold; 
        }
        
        
        
/*        styling af subsection input*/
        #dys_select, #fam_select, #tong_input, #home_input {
            font-size: 20px; 
            height: 1.5em; 
            font-weight: bold; 
        }
        
        h2:nth-of-type(1), #dys_select {
            display: inline-block; 
        }
        
        h2:nth-of-type(2), #fam_select {
            display: inline-block; 
        }
        
        h2:nth-of-type(3), #tong_input {
            display: inline-block; 
        }
        
        h2:nth-of-type(4), #home_input {
            display: inline-block; 
        }
        
        #date, #name, #dys, #fam, #tong, #home {
            width: 100%; 
        }
        
        #bottom {
            position: relative; 
            top: 350px; 
            left: 50px; 
            margin-bottom: 50px; 
        }
        
        input[type=submit] {
            font-size: 25px; 
            height: 1.5em; 
        }